@media only screen and (max-width: 1200px) {
 .flex {
  max-width: 100%;
 }
 .buttons {
  max-width: 5%;
 }
}

@media only screen and (max-width: 992px) {
.flex {
  max-width: 100%;
}
.picture_header, .header_arrow_description, .header_arrow_right_description {
  display:none;
}
.header {
  justify-content: center;
}
.pageFive {
  width: 320px;
  min-width: 320px;
 }
 
 .title_pageFive{
  max-width: 98%;
  height: auto;
 }
 .sectionFive_img_down{
  max-width: 98%;
  height: auto;
 }
 
}
 

 

 





@media only screen and (max-width: 768px) {

}