*
{
    font-family: sans-serif;
}
.whiteBackground{
    background-color: white;
}
.subjectPage{
    text-align: center;
}
.greybackground
{
    background-color:#b5639e;
}
.center
{
    justify-content: center;
}
.column
{
    flex-direction: column;
}
.aligncenter
{
    align-items: center;
}
.spaceB
{
    justify-content: space-between;
}
.learnmore
{
    color: #0167f3;
    font-size: 70%;
    font-weight: 800;
}
.spaceA
{
    justify-content: space-around;
}
.pageTwo
{
    padding: 2% 20% 17% 20%;
}
.flex {
  display: flex;
  
}

.alignItem_end {
  align-items: flex-end;
}

.background_light_grey{
 background:#F3F6F7;
}

.padding2
{
  margin: 2% 0% 2% 0%;
}

/*.padding20{
  margin: 0% 40% 0% 40%;
}*/


.pageOne {
  background-color:#0267F4;
  width: 100%;
}


.nav {
  color:white;
  
}

.par_to_Nav_white_color {
  color:white;
  
}

.par_to_Nav {
  padding:2px;
  color:#C7DBFC
}

.btn_nav {
  border: 1px solid grey;
  width: 100%;
  height: 44%;
  border-radius: 5px;
  color:#0267F4;
  font-weight: bold;
  font-size: 11px;
}

.titleP2 {
    font-weight: 799;
    font-size: 250%;
    font-family: sans-serif;
    margin-bottom: 1%;
}
.quoteP2
{
    color: rgba(108, 108, 108, 255);
    padding: 0% 21% 0% 21%;
    text-align: center;
}
.servicesP2
{
    margin: 2%;
}
.sectionP2
{
    font-size: 200%;
    font-weight: 100;
    margin: 0%;
    padding-top: 4%;
}
.parP2
{
    font-size: 60%;
    font-weight: 700;
}
.title_header {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  font-weight:900;
}

.header-description{
width:30%;
}

.title_header {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  font-weight:900;
  color: #FFFFFF;
}

.description_header_title{
  color:#FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: lighter;
}

.btn_header_header {
  border: 1px  #0267F4;
  width: 40%;
  height: 30px;
  border-radius: 30px;
  font-size: 10px;
  color:#0267F4;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif; 
}

.btn_header_header_two {
  border: 1px solid white;
  width: 40%;
  height: 30px;
  border-radius: 30px;
  font-size: 10px;
  background-color:#0267F4; 
  color:white;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.justifyRight {
justify-content: right;
}
  .paddingRight{
    padding-right: 15%;
  }

.btn-page-three{
  border: none;
 background-color: white;
 text-align: center;
 margin: 5% 250% 0% 10%;
 height: 30%;
  width: 300%;
}

.header_arrow_description{
width: 15%;
}

.first-btn-3pg{
  border-radius: 30px 30px;
  background-color: #0267F4;
  color: white;
  text-align: center;
}


.arrow_left_header, .header_arrow_right {
  width: 14%;
  height: 30px;
}

.header_arrow_right_description{
  width: 15%; 
}

.header_line {
  width: 3%;
  justify-content: flex-end;
}

.header_line_img{
  padding-bottom: 60%;

}

.pageFive {
  background: white ;
}

.sectionFive_img_down{
  width: 100%;
  
}

.section_arrow {
  width: 10%;
}


.par_three {
  font-weight: bold;
}

.par_one {
  padding: 10px;
}

.title_pageFive{
  color: #0167f3;
}

.header_par {
  text-align: center;
}

.pageEight {
  width: 100%;
}
.pageEight_header {
  width: 100%;
}

.my_map {
  width: 80%;
}