.whiteBackground{
    background-color: white;
}
.subjectPage{
    text-align: center;
}
.greybackground
{
    background-color:#f3f6f7;
}
.center
{
    justify-content: center;
}
.column
{
    flex-direction: column;
}
.aligncenter
{
    align-items: center;
}
.spaceB
{
    justify-content: space-between;
}
.learnmore
{
    color: #0167f3;
}
.spaceA
{
    justify-content: space-around;
}
.pageTwo
{
    padding: 10% 20% 30% 20%;
}
.flex {
  display: flex;
  
}
.pageOne {
  background-color:#0267F4;
}

.nav {
  justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
  color:white;

}

.par_to_Nav {
  padding:2x;
}

.btn_nav_container {
  align-items: center;
}
.btn_nav {
  border: 1px solid grey;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color:#0267F4;
  
}

.title_header {
  flex-direction: column;
}

.justifyRight {
justify-content: right;
}
  .PaddingRight{
    padding-right: 15%;
  }

.btn-page-three{
  
  border: none;
 background-color: white;
 text-align: center;
 margin: 5% 250% 0% 10%;

 height: 30%;
  width: 300%;
}


.first-btn-3pg{
  border-radius: 30px 30px;
  background-color: #0267F4;
  color: white;
  text-align: center;
}